@charset "UTF-8";

.selector-for-some-widget {
    box-sizing: content-box;
}

.font-color {
    color: #0000FF;
    display: inline-block;
    _display: inline;
}

.font-color-blue {
    color: #000080;
    display: inline-block;
    _display: inline;
}

.font-color-blue-bold {
    color: #000080;
    font-weight: bold;
    display: inline-block;
    _display: inline;
}

.font-color-skyblue {
    color: #2C7CFF;
    display: inline-block;
    _display: inline;
}

body {
    font-family: "HackGen35 Console NF";
    font-size: 1.2em;
    padding: 0em 1em;
    background-color: #f0f9ff;
}

.container {
    background-color: white;
    padding: 0.1em 1.2em 0.5em 1.2em;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    color: white;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: white;
}

p {
    padding: 5px 10px;
}

.alert {
    color: white;
    background-color: royalblue;
    border: white 6px double;
    padding: 25px 50px;
    margin: 25px 0px;
    border-radius: 0.5em;
}

.card {
    border: gray 1px solid;
    padding: 25px 50px;
    margin: 25px 0px;
    box-shadow: 5px 7px 5px darkgray;
}

/* menu bar */

.menu-wrapper {
    position: relative;
}

.menu-icon {
    width: 40px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 3;
    display: inline-block;
}

.menu-icon span {
    display: block;
    height: 4px;
    margin: 6px 0;
    background: #333;
    border-radius: 2px;
    transition: 0.4s;
}

#menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    z-index: 1;
}

#menu-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: auto;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    transition: left 0.4s ease;
    z-index: 2;
}

#menu-toggle:checked ~ .menu {
    left: 0;
}

.menu ul {
    list-style: none;
    padding: 60px 20px;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007bff;
}
